@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-image {
  background-image: url("../public/images/bg.jpg");
  background-size: cover;
}

.bg-color {
  background-color: rgba(216, 213, 213, 0.199);
}

input.sign-up {
  background-color: rgba(230, 230, 230, 0.397);
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
}

input.sign-up::placeholder {
  color: white;
}

input.sign-up:focus {
  border: white;
  background-color: rgb(99, 97, 97);
}

input.sign-up,
select,
textarea {
  color: white;
}

.bg-button1 {
  background-color: rgba(230, 230, 230, 0.397);
  border: none;
  color: white;
  font-family: Arial, sans-serif;
}

.bg-button1:hover {
  background-color: rgb(99, 97, 97);
}

.bg-button2 {
  background: #ff6c14;
  font-family: Arial, sans-serif;
}

.bg-button2:hover {
  background: #f75a00;
}

em-emoji-picker {
  height: 30vh;
}

/* ============ flip hover styles ============ */

.card:hover {
  transform: rotateY(180deg);
  transform-style: preserve-3d;
}

.card-back {
  transform: rotateY(180deg);
}
.css-e7nvmg-LoadingOverlayWrapperBase {
  position: unset !important;
}

/*
.min-h-screen{
  min-height: 93vh;
}
*/

.crop-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 80px;
}

.controls {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  height: 80px;
  display: flex;
  align-items: center;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
 }
  100% {
    transform: translateX(calc(-200px * 6));
 }
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  animation: scroll 30s linear infinite;
  display: flex;
  width: calc(200px * 12);
}
.slider .slide {
  height: 100px;
  width: 200px;
}

.gradient{
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab, #EBE76C);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
